*{margin: 0;padding: 0;}
:root {
    /* Colors */
    --color-primary: #239D60;
    --color-secondary: #F9F9F9;
    --color-backgroud: #54436B;
    --color-light: #ACFFAD;
    --color-yellow: #F7F39A;
    /* Size letters */
    --title-title: 40px;
    --title-paragraph: 30px;
    --title-nav: 18px;
    --max-width: 1300px;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    font-size: var(--title-title);
}
p {
    text-align: justify;
    font-size: var(--title-paragraph);
}
a {
    font-size: var(--title-nav);
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: var(--color-secondary);
}
.nav__container{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}
.container__items {
    max-width: var(--max-width);
    color: var(--color-secondary);
    font-weight: bold;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.items__left {
    flex: 1;
}
.items__right {
    flex: 3;
}
.items__right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;
}
.header__container {
    max-width: var(--max-width);
}
.container__content{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding: 3em;
}
.content__avatar {
    display: flex;
    justify-content: center;
    flex: 1;
}
.content__avatar img{
    width: 16em;
    height: 16em;
    border-radius: 50%;
}
.content__bio{
    flex: 2;
}
.bio__description{
    padding: 2em;
}

article{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.article__container {
    max-width: var(--max-width);
    width: 100%;
}
.item1{
    display: flex;
    flex-direction: column;
}
.item1__container {
    display: flex;
}
.item1__container--left {
    display: flex;
    flex-direction: column;
}
.item1__container--tablinks{
    border-radius: 50px;
    width: 330px;
    padding: 0.2em;
    margin: 0.2em 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: var(--title-paragraph);
}
.item1__container--right {
    width: 100%;
    padding: 0 5em;
}

.item1__container--number {
    width: 100%;
    background-color: var(--color-yellow);
    border-radius: 58px;
    border: none;
}
.item1__container--legend {
    display: flex;
    justify-content: space-between;
}
.skills {
    text-align: right;
    padding: 10px 0;
}
.html {width: 90%; border-radius: 58px;background-color: var(--color-light);}