*{margin: 0;padding: 0;}
:root {
    /* Colors */
    --color-primary: #239D60;
    --color-secondary: #F9F9F9;
    --color-backgroud: #212125;
    --color-light: #ACFFAD;
    --color-button-activate:#4AA96C;
    --color-yellow: #F7F39A;
    /* Size letters */
    --title-title: 40px;
    --title-paragraph: 30px;
    --title-nav: 18px;
    --max-width: 1300px;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    font-size: var(--title-title);
}
p {
    text-align: justify;
    font-size: var(--title-paragraph);
}
a {
    font-size: var(--title-nav);
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: var(--color-secondary);
}
.nav__container{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}
.container__items {
    max-width: var(--max-width);
    color: var(--color-secondary);
    font-weight: bold;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.items__left {
    flex: 1;
}
.items__right {
    flex: 3;
}
.items__right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;
}
.header__container {
    max-width: var(--max-width);
}
.container__content{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding: 3em;
}
.content__avatar {
    display: flex;
    justify-content: center;
    flex: 1;
}
.content__avatar img{
    width: 16em;
    height: 16em;
    border-radius: 50%;
}
.content__bio{
    flex: 2;
}
.bio__description{
    padding: 2em;
}

article{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.article__container {
    max-width: var(--max-width);
    width: 100%;
}
.item1{
    display: flex;
    flex-direction: column;
}
.item1__container {
    display: flex;
}
.item1__container--left {
    display: flex;
    flex-direction: column;
}
.item1__container--tablinks{
    border-radius: 50px;
    width: 330px;
    padding: 0.2em;
    margin: 0.2em 0;
    border: none;
    background-color: var(--color-primary);
    padding: 14px 16px;
    color: var(--color-secondary);
    font-size: var(--title-paragraph);
}
.item1__container--left button:active {
    background-color: var(--color-button-activate)
}
.item1__container--left button:hover{
    cursor: pointer;
    background-color: var(--color-button-activate)
}
.item1__container--right {
    width: 100%;
    padding: 0 5em;
}

.item1__container--number {
    width: 100%;
    background-color: var(--color-yellow);
    border-radius: 58px;
    border: none;
}
.item1__container--legend {
    display: flex;
    justify-content: space-between;
}
.item__skill {
    padding-bottom: 0.3em;
}
.skills {
    text-align: right;
    padding: 10px 0;
}
/* Lenguajes */
.python {width: 70%; border-radius: 58px;background-color: var(--color-light);}
.js {width: 30%; border-radius: 58px;background-color: var(--color-light);}
.java {width: 40%; border-radius: 58px;background-color: var(--color-light);}
.csharp {width: 30%; border-radius: 58px;background-color: var(--color-light);}
/* Front-End */
.html {width: 75%; border-radius: 58px;background-color: var(--color-light);}
.css {width: 70%; border-radius: 58px;background-color: var(--color-light);}
.reactjs {width: 35%; border-radius: 58px;background-color: var(--color-light);}
/* Back-End */
.fastapi {width: 55%; border-radius: 58px;background-color: var(--color-light);}
.flask {width: 40%; border-radius: 58px;background-color: var(--color-light);}
.django {width: 25%; border-radius: 58px;background-color: var(--color-light);}
.nodejs {width: 35%; border-radius: 58px;background-color: var(--color-light);}
/* Desarrollo movil */
.androidstudio {width: 40%; border-radius: 58px;background-color: var(--color-light);}
.reactnative {width: 35%; border-radius: 58px;background-color: var(--color-light);}
/* Base de datos */
.sqlserver {width: 35%; border-radius: 58px;background-color: var(--color-light);}
.postgresql {width: 20%; border-radius: 58px;background-color: var(--color-light);}
.mysql {width: 65%; border-radius: 58px;background-color: var(--color-light);}
.mongodb {width: 45%; border-radius: 58px;background-color: var(--color-light);}
.firebase {width: 45%; border-radius: 58px;background-color: var(--color-light);}
/* Diseño */
.figma {width: 40%; border-radius: 58px;background-color: var(--color-light);}
.adobexd {width: 20%; border-radius: 58px;background-color: var(--color-light);}
/* Herramientas */
.git {width: 75%; border-radius: 58px;background-color: var(--color-light);}
.github {width: 65%; border-radius: 58px;background-color: var(--color-light);}
.debian {width: 30%; border-radius: 58px;background-color: var(--color-light);}